{% extends 'layout.html' %}

{% block body %}

<div class="container">

<div class="row">
  <!-- Sidebar -->
  <div class="col-md-3 sidebar">

    <h3>Categories</h3>

    <ul class="list-group">
      {% for c in categories %}
      <li class="list-group-item">
        <a href="/items/{{ c.id }}">{{ c.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Items -->
  <div class="col-md-9 items">
      {% for i in items %}
      <div class="item">
        <img src="{{ i.image }}" alt="item-image" class="item-image img-responsive">
        <div class="item-info">
          <h3>{{ i.name }}</h3>
          <p>by
            <strong>
            {% for o in owners %}
              {% if o.id == i.owner_id %}
                {{ o.name }}
              {% endif %}
            {% endfor %}
            </strong></p>
          <hr>
          <a href="/item/{{ i.id }}" class="btn btn-info btn-small">see more</a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>

</div>

{% endblock %}
