{% extends 'layout.html' %}

{% block body %}
<div class="container">

  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 sidebar">
      <h3>Categories</h3>
      <ul class="list-group">
        {% for c in categories %}
        <li class="list-group-item">
          <a href="/items/{{ c.id }}">{{ c.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Item Information -->
    <div class="col-md-9">

      <div class="item-box">
          <div class="row">
            <div class="col-md-7">
              <img src="{{ item.image }}" alt="item image" class="item-image img-responsive">
            </div>
            <div class="col-md-5">
              <h2>{{ item.name }}</h2>
              <h5>{{ owner.name }}</h5>
              <hr>
              <h5>Category: {{ item_category.name }}</h5>
              <h5>Condition: {{ item.condition }}</h5>
              <hr>
              <h5>Location: {{ owner.location }}</h5>
              <h5>Phone: {{ owner.phone }}</h5>
              <h5>Email: {{ owner.email }}</h5>
            </div>
          </div>
          <hr>
          <div class="item-description">
            {{ item.description }}
            <hr>
          </div>

          <!-- Update or Delete the item if it belongs to the user -->
          {% if allowed_to_edit %}
          <div class="update-delete-item">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit-modal">Edit</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button>
          </div>
          <!-- Edit Modal -->
          <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div id="result-msg"></div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Edit the item</h4>
                </div>
                <div class="modal-body clearfix">

                  <form id="update-item-form" enctype='multipart/form-data' method="post">
                    <div class="form-group">
                      <input type="text" name="item_name" class="form-control" value="{{ item.name }}">
                    </div>

                    <div class="form-group">
                      <label for="image" class="btn btn-info btn-file">Upload Image</label>
                      <input type="file" id="image" name="image" class="file-input"> <!-- Hidden file input field for uploading image -->
                      <input type="text" id="file-name"  name="file-name" class="file-name">  <!-- Will send image name when form is submitted -->
                      <p class="file-message"></p> <!--Will contain the name of the file once it's selected by the user-->
                    </div>

                    <div class="form-group">
                      <select name="category_id" class="form-control">
                        <option value="{{ item_category.id }}">{{ item_category.name }}</option>
                        {% for c in categories %}
                        <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group">
                      <select name="condition" class="form-control" >
                        <option selected="selected" value="{{ item.condition }}">{{ item.condition }}</option>
                        <option value="New">New</option>
                        <option value="Used">Used</option>
                        <option value="Bad">Bad</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea name="description" class="form-control">{{ item.description }}</textarea>
                    </div>

                    <!-- Hidden input to send item id -->
                    <input type="hidden" name="update-item-id" value="{{ item.id }}">

                    <hr>
                    <button type="submit" class="btn btn-info pull-right">Save changes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <!-- Delete Modal -->
          <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div id="delete-msg"></div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Are you sure you want to delete this item?</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-xs-6">
                      <form id="delete-item-form" method="post">
                        <!-- Hidden input to send item id -->
                        <input type="hidden" name="delete-item-id" value="{{ item.id }}">
                        <!-- Confirm the deletion -->
                        <button type="submit" class="btn btn-danger pull-right">Yes</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Ajax calls -->
          <script>
          //  Ajax call to /update when update form is submitted
          $('#update-item-form').submit(function(e){
            e.preventDefault();
            var postdata = new FormData(this);
            $.ajax({
              url: '/update?state={{state}}',
              type: 'POST',
              data: postdata,
              processData: false,
              contentType: false,
              cache: false,
              success: function(result){
                if(result){
                  //  Updating successful, redirect to that item
                  if(typeof(result) == 'string'){
                    window.location.href = '/item/' + result;
                  // Registration not successful
                  } else {
                    $('#result-msg').html('Something went wrong, please try again later.');
                  }
                } else {
                  $('#result-msg').html('Something went wrong, please try again later.');
                }
              }
            })

          });

          //  Ajax call to /delete when delete form is submitted
          $('#delete-item-form').submit(function(e){
            e.preventDefault();
            var postdata = $(this).serializeArray();
            $.ajax({
              url: '/delete?state={{state}}',
              type: 'POST',
              data: postdata,
              success: function(result){
                if(result){
                  //  Deleting successful
                  if(result == 'deleted'){
                    window.location.href = '/';
                  //  Not successful
                  } else {
                    $('#delete-msg').html('Something went wrong, please try again later.');
                  }
                } else {
                  $('#delete-msg').html('Something went wrong, please try again later.');
                }
              }
            })

          });
          </script>

          {% endif %}
      </div>
    </div>

  </div>

</div>

{% endblock %}
