{% extends 'layout.html' %}

{% block body %}

<!-- scripts required for login to work -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<div class="container" style="text-align: center;">

  <!-- Google sign in button -->
  <div id="signInButton">
  <span class="g-signin"
    data-scope="openid email"
    data-clientid="949340883648-v1nj19bj8sfbiaejaf8n09ma1heu25ol.apps.googleusercontent.com"
    data-redirecturi="postmessage"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-callback="signInCallback"
    data-approvalprompt="force">
  </span>
  </div>

  <!-- message to the user -->
  <div id="result-msg"></div>
  <!-- additional info that user will need in order to register his accound -->
  <div id="additional-info" style='display: none;'>
    <div class="alert alert-info">
      Your account is almost ready, please fill the form in order to complete registration
    </div>
    <form method='post' id='additional-info-form'>
      <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="location" name="location" placeholder="Enter your location" required>
      </div>
      <button type="submit" class="btn btn-info">Register</button>
    </form>
  </div>

</div>

<script>
function signInCallback(authResult) {
  //  if 1 time code is there
  if (authResult['code']) {
    $('#signInButton').attr('style', 'display: none');
    //  Sending one-time-use code to the server
    $.ajax({
      type: 'POST',
      //  Protect against CSRF
      url: '/gconnect?state={{state}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        //  Handle the server response
        if (result) {
          //  If user is registered (already exists in the database), redirect him to /items page
          if(result == 'User exists'){
            $('#result-msg').html('<div class="alert alert-success">Redirecting...</div>')
            setTimeout(function() {
              window.location.href = "/items";
            }, 1000);
          //  If user is not registered, show him the form to add more info about himself
          } else {
            $('#additional-info').show(200);
          }
        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result-msg').html('Something went wrong, please try again later.');
        }
      }});
  }
}
</script>
<!-- When the form is submitted, send ajax call to /register_user route -->
<script>
$('#additional-info-form').submit(function(e){
  e.preventDefault();
  var postdata = $(this).serializeArray();
  $.ajax({
    url: '/register_user?state={{state}}',
    type: 'POST',
    data: postdata,
    success: function(result){
      if(result){
        //  Registration is successful, redirect to /items
        if(result == 'success'){
          $('#result-msg').html('<div class="alert alert-success">Registration successful!</div>')
          setTimeout(function() {
            window.location.href = "/items";
          }, 1000);
        // Registration not successful
        } else {
          $('#result-msg').html('Something went wrong, please try again later.');
        }
      } else {
        $('#result-msg').html('Something went wrong, please try again later.');
      }
    }
  })
})
</script>

{% endblock %}
